strict-ssl=false
#registry=http://registry.npmjs.org/
#proxy=http://proxy.inf.epost-dev.de:8080/
#https-proxy=http://proxy.inf.epost-dev.de:8080/
init.author.name=Jan Florian Dietrich
init.author.email=jfd@daenen4.de
init.author.url=http://www.daenen4.de/
email=jfd@daenen4.de
