init-authorxi-.name=Jan Florian Dietrich
init-author-email=jfd@daenen4.de
init-author-url=http://www.daenen4.de/
init.license "MIT"
init.version "1.0.0"
email=jfd@daenen4.de
registry=http://registry.npmjs.org
